api/WebApi/packages/
api/WebApi/WebApi/bin/
*.map
api/WebApi/WebApi.Serices.Iplm/obj/
api/WebApi/WebApi.Serices.Iplm/bin/
api/WebApi/WebApi.Repositories/obj/
api/WebApi/WebApi.Repositories.Impl/bin/
api/WebApi/WebApi.Services/obj/
api/WebApi/Common/obj/
api/WebApi/WebApi.MyDbContext/obj/
api/WebApi/WebApi.Services/bin/
api/WebApi/WebApi.MyDbContext/bin/
api/WebApi/WebApi.Repositories.Impl/obj/
src/*.js
