api/WebApi/packages/
api/WebApi/WebApi/bin/
*.map
api/WebApi/WebApi.Serices.Iplm/obj/
api/WebApi/WebApi.Serices.Iplm/Properties/
api/WebApi/WebApi.Serices.Iplm/bin/
api/WebApi/WebApi.Repositories/obj/
api/WebApi/WebApi.Repositories.Impl/bin/
api/WebApi/WebApi.Services/obj/
api/WebApi/Common/obj/
api/WebApi/WebApi.MyDbContext/obj/
api/WebApi/WebApi.Services/bin/
api/WebApi/WebApi.MyDbContext/bin/
api/WebApi/WebApi.Repositories.Impl/obj/
api/WebApi/WebApi.Services/Properties/
api/WebApi/WebApi.MyDbContext/App.config
api/WebApi/Common/Properties/
api/WebApi/WebApi.Repositories/Properties/
api/WebApi/WebApi.MyDbContext/Properties/
api/WebApi/WebApi.MyDbContext/WebApi.MyDbContext.csproj
api/WebApi/WebApi.Services/WebApi.Services.csproj
