<div class="x_content">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td backGroundColor [color]="'blue'"> {{selectedCategoryName}}</td>
                <td>{{category.description}}</td>
                <td> <img alt="Category photo" src="/src/resources/images/{{category.img}}" style="max-height:150px;max-width: 150px "
                    /> </td>
                <td><i class="fa fa-pencil-square-o" (click)="onEditCategoryClicked(category.name)"> </i> </td>
            </tr>
        </tbody>
    </table>
    <category-Summary (onCategoryNameChanged)="onCategoryNameChangedOnPearent($event)" [categoryName]=selectedCategoryName></category-Summary>
    <label *ngIf="selectedCategoryName"> Category name is : {{selectedCategoryName}}</label>
</div>